body {
    margin: 0;
    padding: 0;
    text-align: center;

}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;
}

#first {
    width: 600px;
    height: 50%;
    background-color: red;
}

#second {
    width: 600px;
    height: 50%;
    background-color: yellow;
}

#therd {
    width: 400px;
    height: 50%;
    background-color: pink;
}

#second {
    background-color: yellow;
    height: 50%;
}

#four {
    margin-top: 153px;
    background-color: green;
    height: 50%;
}
.second-main{
    display: flex;
    flex-direction: row;
    margin-top: -375px;
}
#both{
    display: flex;
    flex-direction: row;
    float: 
}
#five{
    background-color: orange;
    width:750px;
    height: 50%;
}
#six{
    background-color: aqua;
    width: 350px;
    height: 375px;
    margin-left: 700px;
    margin-top: -50px;
}

#seven{
    background-color: rgb(119, 0, 255);
    margin-left: 250px;
    width: 550px;
    
}
#eight{
    background-color: chocolate;
    
}