body {
    margin: 0;
    font-family: 'Smooch Sans', sans-serif;
   


}
h1{
    margin-top: 10px;
    font-size: 70px;
    color: rgb(39, 38, 38);
}
p{
    color: gray;
}
h3{
    color: rgb(65, 62, 62);
}

.main {
    text-align: center;
}

.box {
    width: 300px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;

}

.box1 {
    width: 350px;
    height: 280px;
    /* background-color: rgb(180, 255, 230); */
    padding: 20px;
}

.box1:hover {
    box-shadow: 5px 5px 10px 10px rgb(99, 88, 88);
}

.container3 {
    justify-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

button {
    margin-top: 20px;
    border: none;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    color: rgb(236, 65, 65);
}

button:hover {
    border: none;
    padding: 20px;
    background-color: rgb(231, 91, 91);
    color: antiquewhite;
    border-radius: 33px;
    cursor: pointer;
}
